{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

{{- $tool := .package_manager -}}

{{- if eq $tool "macports" }}
sudo port -F - <<EOF
{{- else }}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ end -}}
{{ range .packages.darwin.common -}}
{{-  if eq $tool "macports" }}
install {{ . }}
{{- else -}}
brew {{ . | quote }}
{{ end -}}
{{- end }}
{{ if and (ne $tool "macports") (hasKey .packages.darwin "brew") -}}
{{ range .packages.darwin.brew -}}
brew {{ . | quote }}
{{ end -}}
{{- end }}
EOF

{{- if eq $tool "macports" }}
sudo port -F - <<EOF
{{ range .packages.darwin.ports -}}
install {{ . }}
{{ end -}}
EOF
{{ end -}}

{{ end -}}
